@use "./base/font-face"
  
html
  overflow: hidden

body
  overflow: hidden

#__nuxt
  animation-name: clouds-movement
  animation-duration: 166.26s
  background-image: url("/images/background.png")
  overflow: hidden
  position: absolute
  top: 0
  bottom: 0
  right: 0
  left: 0

@keyframes clouds-movement
  0%
    background-position: 0 0

  32.5%
    background-position: -1620px 0
    
  50%
    background-position: -1620px -874px

  82.5%
    background-position: 0 -874px

  100%
    background-position: 0 0
    
