@use "./base/font-face"
  
body
  bottom: 0
  left: 0
  position: absolute
  right: 0
  top: 0

#__nuxt
  background: url("assets/images/background.png"), lightgray 50% / cover no-repeat
  height: 100%
  width: 100%
