@function file-format($string)
  $index: str-index($string, ".")
  $extension: str-slice($string, $index + 1)
  
  @if $extension == "otf"
    @return format("opentype")
  @else
    @return format($extension)
  
=font-face($name, $style, $weight, $filename)
  @font-face
    font-family: $name
    font-weight: $weight
    font-style: $style
    src: url("/fonts/" + $filename) file-format($filename)